doctype html
html(lang="ru")
	head
		title Rudetrans - Элементы
		include pug/head
	body.page
		include pug/header
		.bg-aluminum
			.section-breadcrumbs: .container-fluid: .row: .col-xs-12
				nav.nav-breadcrumbs: ul.nav-breadcrumbs__list
					li.nav-breadcrumbs__item: a.nav-breadcrumbs__link(href="#") Главная
					li.nav-breadcrumbs__item: a.nav-breadcrumbs__link(href="#") Каталог оборудования
					li.nav-breadcrumbs__item Машина контактной сварки с радиальным ходом верхнего электрода
			
			section.section-news
				.container-fluid: .row: .col-xs-12
					h2.h2.section-news__title Новости
					hr.hr.section-news__hr
					-
						var desc = "Уважаемые коллеги! Хотим познакомить Вас с новинкой на Российском рынке - установкой электро-дуговой металлизации PWS HD 4000.",
								date = "07.04.2017"
								slides = [{

						}];
					.section-news__slider(data-slider="{\"slidesToShow\": 4, \"arrows\": false, \"responsive\": [{\"breakpoint\": 992, \"settings\": {\"slidesToShow\":3}},{\"breakpoint\": 768, \"settings\": {\"slidesToShow\":2}},{\"breakpoint\": 480, \"settings\": {\"slidesToShow\":1}}]}")
						each i in [1,2,3,4]
							.gutter-6: .card-news.gutter-6
								time.card-news__date(datetime=date): a.unlink(href="#") #{date}
								a.link(href="#"): img.card-news__pr(src="images/news/" + 3 + ".jpg" width="265" height="152")
								.card-news__title: a.unlink(href="#") #{desc}
					hr.hr.section-news__hr.bg-light-gray
					.section-news__events
						figure.section-news__event.card-event
							.card-event__column.card-event__column_pr: img.card-event__pr(src="images/event/1.jpg", alt="" width="200" height="145")
							.card-event__column.card-event__column_desc
								time.card-event__date 07 апреля 2017
								.card-event__title: a(href="#") Установка электро-дуговой металлизации PWS HD 4000
								.card-event__desc 
									a(href="#") PWS HD 400
									|- это процесс электродуговой металлизации с использованием двух проволок, расплавляемых электрической дугой, имеющей температуру 5000 - 6000 С. Сжатый газ - воздух - распыляет расплавленные концы проволоки и подает капли на поверхность детали, со скоростью более 100 метров в секунду, формируя покрытие с высокой прочностью сцепления и низкой пористостью.

						figure.section-news__event.card-event
							.card-event__column.card-event__column_pr: img.card-event__pr(src="images/event/2.jpg", alt="" width="200" height="145")
							.card-event__column.card-event__column_desc
								time.card-event__date 19 января 2017
								.card-event__title: a(href="#") Открытие нового учебно-демонстрационного центра компании РУДЕТРАНССЕРВИС
								.card-event__desc 
									| Уважаемые коллеги! Компания РУДЕТРАНССЕРВИС рада сообщить об открытии нового учебно-демонстрационного центра.
			section.section-article
				.container-fluid: .row: .col-xs-12
					hr.hr.bg-light-gray.section-article__hr
					time.section-article__date 07 апреля 2017
					.article-typo
						h1 Установка электро-дуговой металлизации PWS HD 4000 (Н1)

						p Уважаемые коллеги! Хотим познакомить Вас с новинкой на Российском рынке - установкой электро-дуговой металлизации PWS HD 4000.
						p Электродуговая металлизация - это холодный процесс термического напыления, при котором температура поверхности не превышает 150°C. Такая малая температура исключает изменения в структуре металла и его деформацию.
						p 
							a(href="#") PWS HD 400
							| - это процесс электродуговой металлизации с использованием двух проволок, расплавляемых электрической дугой, имеющей температуру 5000 - 6000 С. Сжатый газ - воздух - распыляет расплавленные концы проволоки и подает капли на поверхность детали, со скоростью более 100 метров в секунду, формируя покрытие с высокой прочностью сцепления и низкой пористостью.
						h2 Область применения электродуговой металлизации (H2)
						p Электродуговая металлизация применяется для антикоррозионной защиты цинком и алюминием путем нанесения на детали или изделия.
						p Наносимый материал должен быть токопроводящим. Наиболее используемые материалы - это металлический материал или порошковые проволоки.
						p Низкие эксплуатационные расходы, высокая скорость напыления, и эффективность делают процесс хорошим инструментом для покрытия больших поверхностей или большого числа деталей.
						p Антикоррозионные металлические покрытия выдерживают температуры до -60 °C, не отслаиваясь и не разрушаясь.
						p Правильно нанесенные металлизационные покрытия обладают высокой адгезией к металлу и не отслаиваются от самой конструкции, даже при существенных механических деформациях самой конструкции, металлизированное защитное покрытие держит изгиб при радиусе до двух толщин без отслаивания.
						p Существенно долгий срок службы металлизированных покрытий, вплоть до 30 лет.
						h3 Сферы применения электродуговой металлизации (Н3)
						ul
							li Износостойкие покрытия
							li Мосты (бетон и сталь) 
							li Производство цемента 
							li Инженерные покрытия
							li Ветряные электростанции 
							li Нефть и газ Металлургия 
							li Судостроение/судоремонт 
							li Металлические конструкции 
							li Теплоэлектростанции 
							li Горнодобывающая промышленность 
							li Утилизация и переработка отходов 
							li Целлюлозно-бумажная промышленность
						h4 PWS HD 400 - прочный, надежный и простой в использовании аппарат. (Н4)
						p Пистолет и механизм подачи проволоки подключены к источнику питания с силой тока 400 А. Данный источник имеет высокий уровень изоляции, что обеспечивает высокую надежность в самых жестких условиях работы.
						p Пистолет-распылитель для электродуговой металлизации цинком, алюминием и цинк-алюминием.Один из самых легких и надежных пистолетов в классе антикоррозийной металлизации больших поверхностей. Имеет пневмодвигатель и функцию автоматического выключения (dead men system). Пневмодвигатель обеспечивает высокую, стабильную скорость подачи проволоки в зону распыления на расстояние до 20метров.
						p Преимуществом этого пистолета является простота эксплуатации - все компоненты могут быть быстро заменены оператором на месте производства работ.
						p Толщина наносимого покрытия варьируется в широких пределах - от 0.1 до 20 мм. При этом его плотность составляет 90 - 97%.
			section.section-gallery
				.container-fluid: .row: .col-xs-12
					h2.h2.section-gallery__title Галерея
					hr.hr.bg-light-gray.section-gallery__hr
					-
						var desc = [
							"PMS 38-6 MF DALEX-машина контактной сварки",
							"PMS 38-6 MF DALEX-машина контактной сварки с среднечастотным трансформатором на 1000 Гц",
							"PMS 38-6 MF DALEX-машина контактной сварки",
							"PMS 38-6 MF DALEX-машина контактной сварки"]
							date = "07.04.2017"
							slides = [{

						}];
					.section-gallery__slider(data-slider="{\"slidesToShow\": 4, \"arrows\": false, \"responsive\": [{\"breakpoint\": 992, \"settings\": {\"slidesToShow\":3}},{\"breakpoint\": 768, \"settings\": {\"slidesToShow\":2}},{\"breakpoint\": 480, \"settings\": {\"slidesToShow\":1}}]}")
						each i in [0,1,2,3]
							.gutter-6: .card-gallery.section-gallery__card
								a.card-gallery__pr.unlink(href="#")
									img.card-gallery__image(src="images/gallery/" + 1 + ".jpg" width="275" height="235")
									.card-gallery__inner
										.card-gallery__count
											| 12
											svg.svg.card-gallery__count-icon(width="23" height="23"): use(xlink:href="images/sprite.svg#collage")
										.card-gallery__eye
											svg.svg(width="53" height="57"): use(xlink:href="images/sprite.svg#eye")
										.card-gallery__view ПРОСМОТР
								.card-gallery__title: a.unlink(href="#" tabindex="-1") #{desc[i]}
						
		//- section.section-slider-catalog
		//- 	.container-fluid: .row: .col-xs-12
		//- 		h2.h2.section-slider-catalog__title Каталог оборудования
		//- 		hr.hr.bg-white.section-slider-catalog__hr
		//- 		-
		//- 			var slides = [{
		//- 				i: 1,
		//- 				title: "Микросварочное оборудование"
		//- 			},{
		//- 				i: 2,
		//- 				title: "Промышленные машины контактной сварки"
		//- 			},{
		//- 				i: 3,
		//- 				title: "Машины контактной сварки с прямолинейным ходом верхнего электрода"
		//- 			},{
		//- 				i: 4,
		//- 				title: "Мобильные установкиконтактной сварки"
		//- 			}];

		//- 		.slider-catalog.section-slider-catalog__slider(data-slider="{\"slidesToShow\": 4, \"responsive\": [{\"breakpoint\": 992, \"settings\": {\"slidesToShow\": 3}}, {\"breakpoint\": 768, \"settings\": {\"slidesToShow\": 2}}, {\"breakpoint\": 550, \"settings\": {\"slidesToShow\": 1}}] }"): each i in [1,2]
		//- 			each slide in slides
		//- 				a.card-product.card-product_hover_false.unlink(href="#")
		//- 					img.card-product__pr.img-responsive(src="images/catalog/" + slide.i + ".png" width="140" height="192")
		//- 					.card-product__title #{slide.title}
		//- 		.text-right
		//- 			a.link-more.ulink(href="#") Весь каталог оборудования
		//- section.section-info: .container-fluid: .row: .col-xs-12
		//- 	h2.h2.section-info__title О компании
		//- 	.section-info__desc 
		//- 		p.p РУДЕТРАНССЕРВИС предлагает стационарные машины промышленного применения для контактной сварки (точечная сварка, рельефная сварка, шовная сварка) переменного и постоянного тока, с инверторными преобразователями высокой частоты, машины контактной сварки с радиальным и прямолинейным ходом электродов, клещи контактной точечной сварки, споттеры для односторонней точечной сварки и т.п. В предлагаемом нами оборудовании использованы последние достижения науки и техники в области сварочного оборудования и систем управления: высокочастотные инверторные преобразователи, пневмо- и электро- сервоприводы с возможностью регулирования усилия сжатия электродов в широком диапазоне и с высокой скоростью, блоки управления позволяющие создавать требуемую диаграмму сварочного процесса и изменять параметры самого сварочного процесса в течение его прохождения, автоматически определять условия сварки и осуществлять контроль качества полученного сварочного соединения.
		//- 		.text-right
		//- 			a.link-more.ulink(href="#") Подробнее
		//- section.section-edge.bg-smoke-white: .container-fluid: .row: .col-xs-12
		//- 	-
		//- 		var cards = [{
		//- 			i: 1,
		//- 			width: 65,
		//- 			height: 65,
		//- 			title: "Нам доверяют госкомпании",
		//- 			desc: "Уважаемые коллеги! Хотим познакомить Вас с новинкой на Российском рынке - установкой электро-дуговой металлизации PWS HD 4000."
		//- 		},{
		//- 			i: 2,
		//- 			width: 75,
		//- 			height: 65,
		//- 			title: "Прямые поставки от производителей",
		//- 			desc: "Уважаемые коллеги! Хотим познакомить Вас с новинкой на Российском рынке - установкой электро-дуговой металлизации PWS HD 4000."
		//- 		},{
		//- 			i: 3,
		//- 			width: 65,
		//- 			height: 65,
		//- 			title: "Более 10 лет успешной работы",
		//- 			desc: "Уважаемые коллеги! Хотим познакомить Вас с новинкой на Российском рынке - установкой электро-дуговой металлизации PWS HD 4000."
		//- 		},{
		//- 			i: 4,
		//- 			width: 65,
		//- 			height: 65,
		//- 			title: "Нам доверяют госкомпании",
		//- 			desc: "Уважаемые коллеги! Хотим познакомить Вас с новинкой на Российском рынке - установкой электро-дуговой металлизации PWS HD 4000."
		//- 		}]
		//- 	.section-edge__cards: each card in cards
		//- 		.section-edge__card
		//- 			.card-edge
		//- 				.card-edge__pr: svg.svg(width=card.width height=card.height): use(xlink:href="images/edges.svg#e"+card.i)
		//- 				.card-edge__title !{card.title}
		//- 				.card-edge__desc #{card.desc}
		//- 	hr.hr.bg-light-gray.section-edge__hr
		//- 	.inner-news.clearfix.row
		//- 		.col-xxs-12.col-xs-6.col-sm-8.col-md-9
		//- 			h2.h2.inner-news__title Новости
		//- 			-
		//- 				var desc = "Уважаемые коллеги! Хотим познакомить Вас с новинкой на Российском рынке - установкой электро-дуговой металлизации PWS HD 4000.",
		//- 						date = "07.04.2017"
		//- 						slides = [{

		//- 				}];
		//- 			.inner-news__place.bg-white: .row: .inner-news__cards(data-slider="{\"slidesToShow\": 3, \"arrows\": false, \"responsive\": [{\"breakpoint\": 992, \"settings\": {\"slidesToShow\":2}},{\"breakpoint\": 768, \"settings\": {\"slidesToShow\":1}}]}"): each i in [1,2,3,1]
		//- 				.inner-news__card.card-news
		//- 					time.card-news__date(datetime=date): a.link(href="#") #{date}
		//- 					a.link(href="#"): img.card-news__pr(src="images/news/" + i + ".jpg" width="265" height="152")
		//- 					.card-news__title: a.link(href="#") #{desc}				
		//- 			.text-right: a.ulink.link-more(href="#") Все новости
		//- 		.col-xxs-12.col-xs-6.col-sm-4.col-md-3
		//- 			h2.h2.inner-news__title События
		//- 			.inner-news__place.bg-white: .row: .inner-news__cards(data-slider="{\"slidesToShow\": 1, \"arrows\": false}"): each i in [1,2,3,1]
		//- 				.inner-news__card.card-news
		//- 					time.card-news__date(datetime=date): a.link(href="#") #{date}
		//- 					a.link(href="#"): img.card-news__pr(src="images/news/" + i + ".jpg" width="265" height="152")
		//- 					.card-news__title: a.link(href="#") #{desc}			
		//- 			.text-right: a.ulink.link-more(href="#") События
		//- include pug/representatives
		include pug/clients
		include pug/foo
		include pug/script